body {
  background-color: rgba(255, 255, 255, 0.9) ;
}

.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.top {
  background-color: rgb(228, 228, 228);
  box-shadow: 5px 5px 6px 0px rgba(189,189,189,1);
  width: 80%;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 6px;
}

input {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 18px;
  height: 30px;
  border-radius: 6px;
}

button {
  height: 30px;
  width: 50px;
  margin: 20px;
  border: 1px;
  border-radius: 6px;
  background-color: rgb(169, 167, 184);
  color: rgb(42, 40, 40);
  box-shadow: 2px 2px 3px 0px rgba(189,189,189,1);
}

.entry {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
